/* =====================VARIABLE CSS=============== */
:root{
    --header-height: 3rem;
/* ====================hsl colors================== */
    --hue-color: 14;
    
    --first-color: hsl(var(--hue-color), 40%, 5%);
    --title-color: hsl(var(--hue-color), 41%, 51%);
    --text-color: hsl(var(--hue-color), 10%, 45%);
    --scroll-bar-color: hsl(var(--hue-color), 50%, 90%);
    --bg-color: hsl(var(--hue-color), 71%, 71%);
    --body-color: hsl(var(--hue-color), 100%, 100%);
    --link-color: hsl(var(--hue-color), 41%, 51%);
    --white-color: #fff;
    --footer-color: hsl(var(--hue-color), 62%, 81%);
    
    

/* =======================font===================== */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --noraml-font-size: .968rem;
/* ==========IMAGE OVERLAY==================== */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

    /* ========================Dark-mode========================== */

    .nav-dark{
        position: absolute;
        bottom: 6rem;
        display: flex;
        align-items: center;
        column-gap: 2rem;
        color: var(--white-color);
        
    }
    
    .change-theme:hover{
        cursor: pointer;
        color: var(--bg-color);
    }
    
    /* ===========change color======= */
    
    body.dark-theme{
        --first-color: hsl(var(--hue-color), 40%, 100%);
        --title-color: hsl(var(--hue-color), 41%, 51%);
        --text-color: hsl(var(--hue-color), 62%, 95%);
        --scroll-bar-color: hsl(var(--hue-color), 10%, 71%);
        --bg-color: hsl(var(--hue-color), 28%, 60%);
        --body-color: hsl(var(--hue-color), 28%, 32%);
        --footer-color: hsl(var(--hue-color), 10%, 10%);
        
    }
/* =====================BASE =====================*/
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: var(--body-font);
        font-size: var(--noraml-font-size);
        color: var(--text-color);
        background-color: var(--body-color);
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    button,input{
        border: none;
        font-size: var(--noraml-font-size);
    }
    button{
        cursor: pointer;
    }
    input{
        outline: none;
    }
    img,
    video{
        max-width: 100%;
        height: auto;
    }


/* ==========header============== */
    .header{
        background-color: transparent;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: .2s ease;
        z-index: 1;
        
    }
    .nav-container{
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }
    .nav-menu{
        position: relative;
        
    }
    .nav-logo, .nav-toggle{
        color: var(--title-color);
        font-size: var(--h2-font-size);
    }
    .nav-logo{
        margin-left: 10vw;
    }
    .nav-toggle{
        margin-right: 9vh;
        cursor: pointer;

    }
/* ===================ACTIVE LINK==================== */
    .active-link{
        position: relative;
        color: var(--first-color) !important;
        
    }
    .active-link::before{
        content: '';
        position: absolute;
        background-color: var(--first-color);
        width: 100%;
        height: 2px;
        bottom: -5px;

    }
/* =============show header on scroll=============== */
    .scroll-header{
        background-color: var(--body-color) ;
        box-shadow: 0 0 4px hsla(var(--hue-color), 10%, 8%, .4);
    }
    .scroll-header .nav-logo{
        color: var(--title-color);
        text-shadow: none;
    }
    .scroll-header .nav-link{
        color: var(--link-color);
    }
    .scroll-header .nav-dark{
        color: var(--link-color);
    }



    @media screen and (max-width: 768px) {
        .nav-menu{
            background-color: #fff;
            position: fixed;
            top: 0;
            right: -100%;
            width: 60vw;
            height: 100vh;
            box-shadow: -1px 0 6px hsla(var(--hue-color), 88%, 8%, .3);
            padding: 4rem;
            transition: .3s ease-in-out;
            
        }
        .nav-dark{
            font-size: var(--h2-font-size);
            color: var(--link-color);
        }
        .nav-link{
            color: var(--link-color) !important;
        }
        
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        padding-right: 1vw;
        
        
    }
    .nav-link{
        text-transform: uppercase;
        color: var(--white-color);

        
        
    }
    .nav-link:hover{
        color: var(--bg-color);
        
    }

    .nav-close{
        position: absolute;
        top: 1.1rem;
        right: 3.7rem;
        font-size: var(--h1-font-size);
        cursor: pointer;
        color: var(--link-color);
        
    }
    .nav-close:hover{
        color: var(--bg-color);
    }
    .show-menu{
        right: 0;
    }
/* ===========home================== */
    
    .home-img{
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        

    }
    .home-data{
        position: absolute;
        top: 18vh;
        right: 1.5vw;
        font-size: 1.8rem;
        color: var(--title-color);
        font-size: var(--h1-font-size);
       
    }
    #img-title{
        font-size: var(--h1-font-size);
    }
    .home-social{
        position: absolute;
        bottom: 0;
        display: flex;
        font-size: var(--h1-font-size);
        column-gap: 1rem;
        width: 100%;
        justify-content: center;
        
        
        
    }
    .social-link{
        color: var(--title-color);
        opacity: .8;
        
    }
    .social-link:hover{
        color: var(--bg-color);
        
    }
   
    
    

/* =================about============= */

    .about-container{
        margin: 10vh 5vh;
        text-align: center;
        overflow: var(--img-hidden);

    }
    .about-data{
        margin-bottom: 3vh;
        
    }
    .about-data-title{
        text-transform: capitalize;
        margin-bottom: 5vh;
        color: var(--title-color);
        

    }
    .about-data-description{
        font-size: var(--h2-font-size);
    }

    
    .about-img{
        display: flex;
        column-gap: 1rem;
        justify-content: center;
        align-items: center;
        
    }
    .about-img-one{
        width: 180px;
        height: 280px;
        
    }
    .about-img-two{
        width: 240px;
        height: 320px;
    }
    .about-img-one, .about-img-two{
        transition: var(--img-transition);
    }
    .about-img-one:hover,
    .about-img-two:hover{
        transform: var(--img-scale);
    }
    .about-button{       
        margin-top: 2rem;
    }
    .about-button-reserve{
        font-size: var(--h2-font-size);
        color: var(--white-color);
        background-color: var(--bg-color);
        padding: 1rem 1.5rem ;
        border-radius: 2rem;
    }
    .about-button-reserve:hover{
        opacity: .8;
    }
    


/* ================discover============== */
    .discover-title{
        text-align: center;
        color: var(--title-color);
        text-transform: capitalize;
        margin-top: 10vh;
        margin: 10vh 5vw 0 5vw;
    }
    .discover-container{
        margin: 6vh 5vh;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 1rem;
        justify-content: center;
    }
    .discover-card{
        position: relative;
        /* width: 200px; */
        overflow: var(--img-hidden);
        
    }
    .discover-data{
        position: absolute;
        bottom: 2vh;
        left: 1vw;
        color: #fff;
    }
    .discover-img{
        width: 200px;
        transition: var(--img-transition);
        cursor: pointer;
    }
    .discover-img:hover{
        transform: var(--img-scale);
    }

    
/* =================experience============ */

    .experience-title{
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        width: 100%;
        margin-top: 10vh 5vw 0 5vw;

    }
    .experience-container{
        margin: 6vh 5vw;
        
        max-width: 968px;
        overflow: var(--img-hidden);

    }
    .experience-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 4vh;
        text-align: center;
        
    }
    .experience-img{
        position: relative;
        width: 401px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-self: center;
        
    }
    
    .exp-img-one{
        width: 401px;
        height: 366px;
        
    }
    .exp-img-two{
        width: 180px;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 1px;
        overflow: var(--img-hidden);
        
    }
    .exp-img-one,
    .exp-img-two{
        transition: var(--img-transition);
        
    }
    .exp-img-one:hover,
    .exp-img-two:hover{
        transform: var(--img-scale);
       
    }
/* ==========video========================= */
    .video-title{
        text-align: center;
        color: var(--title-color);
        margin-top: 10vh;

    }
    .video-container{
        margin: 4vh 5vw;
    }
    .video-description{
        padding-bottom: 4vh;
        text-align: center;
    }
    .video-content{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 60vw;
    }
    .video-file{
        width: 60vw;
    }
    .video-btn{
        position: absolute;
        right: 1rem;
        bottom: -1rem;
        font-size: var(--h1-font-size);
        padding: .4rem 1rem ;
        align-items: center;
        background-color: var(--bg-color);
        

    }
    .video-btn:hover{
        opacity: .8;
    }
/* ===============place=================== */

    .place-title{
        text-align: center;
        color: var(--title-color);
        text-transform: capitalize;
        margin-top: 10vh 5vw 0 5vw;

    }
    .place-container{
        margin: 6vh 5vh;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 1rem;
        justify-content: center;
    }
    .place-card, .place-img{
        width: 200px;
        height: 180px;
    }
    .place-card{
        position: relative;
        overflow: var(--img-hidden);
    }
    .place-rating{
        position: absolute;
        top: 1vh;
        right: 2vw;
        color: #fff;

    }
    .place-star{
        color: yellow;
    }
    .place-data{
        position: absolute;
        bottom: 1vh;
        left: 1vw;
        align-items: center;
        color: #fff;
    }
    .place-btn{
        position: absolute;
        right: 1vw;
        bottom: 1.1vh;
        font-size: var(--h1-font-size);
        padding: .4rem 1rem ;
        align-items: center;
        background-color: var(--bg-color);
    }
    .place-btn:hover{
        opacity: .7;
    }
    .place-img{
        transition: var(--img-transition);
    }
    .place-img:hover{
        transform: var(--img-scale);
    }


    /* =========scroll up============== */

    .scroll-up{
        position: fixed;
        bottom: 1rem;
        right: 1vh;
        font-size: var(--h3-font-size);
        padding: 5px 6px ;
        align-items: center;
        background-color: var(--bg-color);
        color: #fff;
        border-radius: 1px;
        
    }
    .scroll-up:hover{
        opacity: .7;
    }
    /* =====================Scroll bar================ */

    ::-webkit-scrollbar{
        width: .6rem;
        background-color: var(--scroll-bar-color);
        
        
        
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--title-color);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        margin: 1rem;
        
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: var(--bg-color);
    }
    
/* ==================footer================== */
    .footer{
        background-color: var(--footer-color);
        
    }
    .footer-container{
        margin: 6vh 8vw 0 8vw;
        padding: 4vh 0;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        
    }
    .footer-title{
        color: var(--title-color);
        font-size: var(--h1-font-size);
        
    }
    .footer-description{
        text-transform: capitalize;
    }

    /* ====================media queries================== */
        
        /* @media screen and (max-width: 375px){
            .discover-img{
                width: 10px;
                height: 80px;
                
            }
            .discover-data{
                font-size: 10px;
            }
        } */
        @media screen and (max-width: 426px){
            
            .about-img-one{
                width: 140px;
                height: auto;
                
            }
            .about-img-two{
                width: 200px;
                height: auto;
            }
            .discover-img{
                width: 180px;
            }
            .place-card, .place-img{
                width: 150px;
                height: 140px;
            }
            .place-btn{
                font-size: var(--h2-font-size);
                                  
            }
        }

        @media screen and (min-width: 592px){
            .home-data{
                font-size: var(--big-font-size);
            }
            #img-title{
                font-size: var(--biggest-font-size);
            }
        }

        @media screen and (min-width: 769px) { 
            .nav-list{
                flex-direction: row;
                column-gap: 2.5rem;
                align-items: center;
                margin-right: 20vh;
            }
            .nav-toggle{
                display: none;
            }
            .nav-close{
                display: none;
            }
            .nav-logo{
                color: var(--white-color);
                text-shadow: 0 0 4px;
                font-size: var(--h1-font-size);
            }
            .nav-dark{
                right: 0 !important;
                bottom: 0;
                margin-right: 2vw;
                column-gap: 1rem;
                
                

            }
            .change-theme-name{
                /* display: none; */
            }
            .nav-menu{
                display: flex;
                
            }
            .about-container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
            }
            
            .discover-img{
                width: 250px;
            }

            .experience-img{
                width: 450px;
            }
            .exp-img-one{
                width: 450px;
                height: auto;
            }
            .exp-img-two{
                width: 220px;
                height: auto;
            }

            .video-description{
                font-size: var(--h2-font-size);
            }

            .place-card, .place-img{
                width: 280px;
                height: 210px;
            } 
             
            
        }

        @media screen and (min-width: 1025px){
            
            .about-img-one{
               width: 240px;
               height: auto;
            }
            .about-img-two{
                width: 290px;
                height: auto;
            }
            .experience-content{
                font-size: var(--h2-font-size);
            }
        }

        @media screen and (min-width: 1246px){

            .home-data{
                font-size: var(--biggest-font-size);
            }
            .place-container{
                grid-template-columns: repeat(3, max-content);
            }
            .place-card, .place-img{
                width: 300px;
                height: 290px;
            } 

        }